.widget-details .visible {
  display: block;
}

.widget-details .hidden {
  display: none;
}

h1, h2 {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 50vw;
}

.list{
  padding-top: 2em;
  margin-inline: auto;
  flex-direction: row;
  width: 80vw;
  
}

.list ul {
  list-style-type:none;
  text-align: left;
}

.form button {
  margin-inline: auto;
  width: 50%;
}

.widgetListItemContainer {
 flex-direction: row;
}

.widgetListItem{
  margin-inline: auto;
  text-align: center;
  width: 70vw;
  padding-block: 0.5em; 
}