.widget-details .visible {
  display: block;
}

.widget-details .hidden {
  display: none;
}



.flex {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 50vw;
}

.form button {
  margin-inline: auto;
  width: 50%;
}