.widget-details .visible {
  display: block;
}

.widget-details .hidden {
  display: none;
}


.flex {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 50vw;
}

.list{
  
  flex-direction: row;
  width: 80vw;
}

.list ul {
  list-style-type:none;
}

.form button {
  margin-inline: auto;
  width: 50%;
}

.widgetListItemContainer {
 flex-direction: row;
 padding-block: 0.5em; 
}

.widgetListItem{
  width: 100%;
}